:root {
    --blue: #325F86;
    --red: #885053;
    --clear: #F1E3E4;
}
/* * {
    margin: 0;
} */
body {
    margin: 0;
}
header {
    background-color: var(--blue);
    color: var(--clear);
    height: 4rem;
    display: flex;
    align-items: center;
        justify-content: center;
}
h1 {
    text-align: center;
    margin: 0;
}

main {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    background-color: #000;
    animation: fade 15s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
li {
    list-style: none;
}
footer {
    padding-top: 1rem;
    background-color: var(--blue);
    color: var(--clear);
    height: 3rem;
}
ul {
    display: flex;
    justify-content: space-around
}