:root {
	--green: #000807;
	--blue: #325F86;
	--red: #885053;
	--clear: #F1E3E4;
	--Quicksand: 'Quicksand', sans-serif;
	--PT-Sans: 'PT Sans', sans-serif;
}
* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}
li {
	list-style: none;
}
header ul {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: 1rem 4rem;
}
#logo {
	width: 5rem;
	border-radius: 50%;
}
#modeBtn {
	position: absolute;
	right: 1rem;
	top: 1.1rem;
}
nav {
	background-color: var(--blue);
	font-weight: bolder;
	/* filter: blur(1px); */
	padding: 1rem;
}
nav ul {
	display: flex;
	justify-content: space-evenly;
}
nav a,
.weatherCard a {
	color: var(--clear);
	text-decoration: none;
}
#menu {
	display: none;
}
#home {
	display: grid;
	grid-template-rows: auto 4rem 2rem;
	grid-template-columns: auto 20rem auto;
	justify-content: center;
	align-items: center;
}
video {
	width: 90vw;
	grid-row: 1/4;
	grid-column: 1/4;
}
#home button {
	grid-row: 2/3;
	grid-column: 2/3;
	padding: 0.7rem;
	border-radius: 10px;
	background-color: var(--clear);
	z-index: 4;
}

section {
	padding: 1rem;
}

section h2 {
	text-align: center;
}

#eventsSection {
	margin-top: 1rem;
	padding-bottom: 2rem;
	background-color: var(--blue);
	color: var(--clear);
}
#cardContainer {
	margin-top: 1rem;
	display: flex;
	gap: 1.5rem;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.circuitCard {
	min-width: 20rem;
	min-height: 20rem;
	/* border: 2px solid red; */
	border-radius: 10px;
	text-align: center;
	line-height: 1.8rem;
	background-color: var(--clear);
	color: var(--blue);
}
.circuitCard img {
	width: 20rem;
	border-radius: 10px 10px 0 0;
}
#weatherSection div,
#ticketsInfo div {
	margin: 1rem;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: center;
	justify-content: center;
}
.weatherCard {
	max-width: 25rem;
	justify-content: center;
	border-radius: 10px;
}
div.weatherCard {
	height: 15rem;
	width: 10rem;
	display: flex;
	flex-direction: column;
}
#ticketsInfo {
	background-color: var(--blue);
	color: var(--clear);
}
.ticketCard p {
	text-align: center;
}
.ticketCard ul {
	text-align: center;
	/* width: 15rem; */
}
.spotlightCard {
	margin: 1rem;
	display: flex;
	justify-content: center;
}
.spotlightCard img {
	height: 20rem;
}
footer {
	background-color: var(--blue);
	color: var(--clear);
	padding: 1rem;
	bottom: 0;
}
footer ul {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

/* DISCOVER */
main {
	margin: 1rem;
	display: grid;
	grid-column: auto 400px;
	grid-row: 1fr 1fr;
	grid-gap: 1rem;
	padding: 1rem;
}
.img-container {
	grid-column: 2/3;
	grid-row: 1/3;
	display: flex;
	flex-direction: column;
	gap: 1rem;

}
.img-container img {
	height: 100%;
	animation: fade 15s;
}
main div {
	grid-column: 1/2;
	grid-row: 1/3;
}
.paragraph {
	line-height: 1.7rem;
}

@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/* Hover effect */
.img-container img:hover {
	transform: scale(1.05);
	/* Scale up the image by 5% */
	transition: transform 0.3s ease;
	/* Smooth transition effect */
}

/* FORM */
#application-container {
	margin: 1rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
#application-container h1 {
	grid-column: 1/3;
}
#form-container {
	grid-column: 1/2;
	margin: 1rem;
	padding: 0 2%;
	min-height: 30rem;
}
form fieldset:first-child {
	margin: 2rem 0;
	border: 1px solid var(--blue);
	border-radius: 10px;
	padding: .5rem 2%;
	/* background-image: url('../images/at_night.jpg'); */
	/* background-color: var(--blue); */
}

form legend {
	margin: 0 1rem;
	padding: 0.3rem .5rem;
	background-color:var(--blue);
	color: var(--clear);
	border-radius: 10px;
	/* filter: blur(-5px); */
	z-index: 5;
}

form label.top,
form div {
	backdrop-filter: blur(2px);
	display: block;
	padding-top: 1rem;
	color: var(--blue);
	font-size: .9rem;
}

form label.top input,
form label.top select,
textarea {
	-webkit-appearance: none;
	display: block;
	font-size: 1rem;
	border: solid 1px var(--blue);
	border-radius: 4px;
	padding: .75rem;
	color: #000000;
	width: 100%;
	max-width: 20rem;
	background-color: rgba(86, 147, 218, 0.1);
}

form label.sbs {
	display: block;
	padding: .75rem 0;
	color: #000000;
}

form input.submitBtn {
	border: none;
	background-color: var(--blue);
	color: var(--clear);
	border-radius: 1rem;
	padding: .75rem 1.5rem;
	margin: 1rem 0 2rem 2%;
	width: 96%;
	max-width: 20rem;
	box-shadow: 10px 13px 19px 3px rgba(0, 0, 0, 0.47);
}

/* form label.top input:required {
	border-left: 6px solid var(--red);
} */

form label.top input:required:valid {
	background-color: rgba(16, 209, 90, 0.5);
}
form label.top input:required:invalid {
	background-color: rgba(255, 0, 0, 0.164);
}
form label input:focus,
textarea:focus {
	box-shadow: 10px 13px 19px 3px rgba(0, 0, 0, 0.47);
}

.sbs span {
	font-size: smaller;
}

.membership-benefits {
	grid-column: 2/3;
	margin-top: 4rem;
}
.membership-benefits div {
	line-height: 2rem;
	padding: 1rem;
	border-radius: 1rem;
	margin: 2rem auto;
	max-width: 25rem;
}
.membership-benefits div {
	background: var(--blue)/* rgba(59, 144, 184, 0.5) */;
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 5.5px );
	-webkit-backdrop-filter: blur( 5.5px );
	border-radius: 10px;
	color: var(--clear);
}
